apiVersion: v1
kind: Service
metadata:
  name: reporting-service
  namespace: waqiti
  labels:
    app: reporting-service
    component: reporting
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8090"
    prometheus.io/path: "/actuator/prometheus"
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  - port: 8090
    targetPort: 8090
    protocol: TCP
    name: management
  selector:
    app: reporting-service
  sessionAffinity: None